<!doctype html>
<html class="no-js" lang="" ng-app="dialacross" ng-controller="BaseController">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Dial Across the Aisle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="thank-you-holder" ng-class="{'is-visible': formSend}">
            <div id="thank-you" class="centered">
                <h3>Thank you!</h3>
                <p><i>your response has been recorded, we will let you know when we are ready to go</i> 🙂</p>
            </div>
        </div>

<!--         <header>
            <a>about us</a><a href="">a guide</a><a href="">get in touch</a>
        </header>   -->



        <section class="branded-content full-height bg-illo">
            <div class="logo"></div>

            <p class="text-center intro-text" style="font-weight: 300;">Dial Across The Aisle is a non-partisan, toll-free number that aims to put people of different political leanings in touch with one another in an effort to bridge divides, understand different realities and gain a new perspective through open and honest conversation.
            <br /><br />
            If you're interested in participating, or learning or more about Dial Across The Aisle, please leave us your info via the form below.
            </p>

            <form id="sign-up" ng-hide="formSend" name="signUpForm" ng-submit="vm.signUp(signUpForm.$valid)" ng-controller="SignUpController as vm" novalidate>

                <div class="form-warning--container" ng-show="signUpForm.$submitted">
                    <span
                        class="form-warning ng-cloak"
                        ng-show="signUpForm.$submitted && signUpForm.firstName.$error.required">

                        You first name is required.
                    </span>

                    <span
                        class="form-warning ng-cloak"
                        ng-show="signUpForm.$submitted && signUpForm.lastName.$error.required">

                        You last name is required.
                    </span>

                    <span
                        class="form-warning ng-cloak"
                        ng-show="signUpForm.$submitted && signUpForm.politicalSide.$error.required">

                        You need to select a political preference.
                    </span>

                    <span
                        class="form-warning last ng-cloak"
                        ng-show="signUpForm.$submitted && signUpForm.phoneNumber.$error.required">

                        You phone number is not correct (+1 917 123-4567).
                    </span>
                </div>

                <div class="flex-container split">
                    <input
                        type="text"
                        class="signup-input signup--first-name"
                        name="firstName" ng-model="user.firstName"
                        placeholder="First name"
                        required
                    />

                    <input
                        type="text"
                        class="signup-input signup--last-name"
                        name="lastName"
                        ng-model="user.lastName"
                        placeholder="Last name"
                        required
                    />
                </div>

                <div class="flex-container">
                    <input
                        type="text"
                        class="signup-input signup--phone"
                        name="phoneNumber"
                        ng-model="user.phoneNumber"
                        ui-mask="+1 999 999 9999"
                        ui-mask-placeholder
                        ui-mask-placeholder-char="_"
                        model-view-value="true"
                        placeholder="Phone number"
                        required
                    />
                </div>

                <div class="radio-group--container">
                    <button
                        type="button"
                        ng-click="vm.selectPoliticalSide($event)"
                        class="btn--radio"
                        ng-class="{'selected': user.politicalSide == 'republican', 'error': signUpForm.$submitted && signUpForm.politicalSide.$error.required}"
                        value="republican">

                        Conservative
                    </button>

                    <button
                        type="button"
                        ng-click="vm.selectPoliticalSide($event)"
                        class="btn--radio"
                        ng-class="{'selected': user.politicalSide == 'liberal', 'error': signUpForm.$submitted && signUpForm.politicalSide.$error.required}"
                        value="liberal">

                        Liberal
                    </button>

                    <!-- // Hidden radio buttons -->
                    <input
                        type="radio"
                        style="display: none;"
                        name="politicalSide"
                        ng-model="user.politicalSide"
                        value="republican"
                        required
                    />

                    <input
                        type="radio"
                        style="display: none;"
                        name="politicalSide"
                        ng-model="user.politicalSide"
                        value="liberal"
                        required
                    />
                </div>

                <button class="button submit" type="submit">Submit</button>
            </form>
        </section>



        <section class="blue-bg">
          <div class="about-box">
            <div class="content-column">
                <h3>Why should we do this?</h3>
                <p>
                We’re not as divided as we seem. Most people just want to make sure them and their loved ones are safe, happy and prosperous. People’s politics are more about telling their life stories than waging ideological warfare. We’re hoping the two sides will see each other’s essential humanity and realize we’re all more alike than different.
                </p>
            </div>
            <div class="content-column">
                <h3>How does it work?</h3>
                <p>Just call and choose which type of person you’d like to talk to. We have curious, open-minded callers of all beliefs who, like you, want to learn about other types of people. It’s a level playing field, with each side seeking a new perspective and appreciation for their fellow Americans.
                </p>
            </div>
            <div class="content-column">
                <h3>How can I get involved?</h3>
                <p>Do you live in the US? Want to get a better feel for what everyone’s thinking and feeling? Consider signing up to take a few calls a week, at whatever time works best for you. If you’d rather dip your toes in the water before jumping in, just call our toll-free number and chat with someone who’s signed up to receive calls.</p>
            </div>
          </div>
                <a href="#" class="button submit">Join the Conversation</a>
      </section>


        <footer>
            Get in touch at: <a href="mailto:hello@dialacross.us">hello@dialacross.us</a>
        </footer>

        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,700|Roboto:300,500" rel="stylesheet">

        <script src="./js/main.min.js"></script>
    </body>
</html>
